/* font-family: 'Abril Fatface', cursive; */

footer{
    background-color: #aaa;
}

h1, h2{
    font-family: 'Abril Fatface', cursive ;
}

.hero{
    background: url(../images/gatitos1.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: black;
}

.hero2{
    background: url(../images/perroyplato.jpg);
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color:whitesmoke
}
.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a{
   
    font-family: 'Abril Fatface', cursive ;
    text-decoration: none;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display:contents;
}

.lista-novedades li a:hover{
    color: white;
    text-decoration-line: underline;
    background-color: #dadada;
    
}

.lista-novedades li a img{
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
    
    
}

.lista-novedades li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.btn:hover{
    color: black;
    background-color: whitesmoke;
    border-color: black;
 
   
}

.btn{
    color: white;
    border-color: white;
}

.accordion-body{
    color: white;
}

.accordion-item{
background-color: transparent;
color:white;

}

.accordion-button{
    background-color: transparent;
    color: white;
    
    
}

.accordion-button:not(.collapsed){
    color: white;
    background-color: transparent;
}

.hero3{
    background: url(../images/trayectoria.jpg);
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    background-color: grey;
}

.hero4{
    background: url(../images/fondonosotros.jpg);

}

.card-img-top{
 
/*width: 280px;
height: 200px;*/

 
}

.card-title{
    font-family: 'Abril Fatface', cursive ;
    
}

.card-body{
    background-color:darkgrey;
}